header {
  display: flex;
  gap: 20px;
}

header img {
  width: 120px;
  height: auto;
}

header input {
  display: inline-block;
  margin-top: 40px;
  justify-content: center;
  border-radius: 4px 4px 4px 4px;
  height: 35px;
  width: auto;
  line-height: 35px;
  border: 3px #eeb560 solid;
  font-weight: bold;
  font-size: 14px;
}

header button {
  display: inline-block;
  color: #eeb560;
  background-color: #eeb560;
  padding: 0.8em;
  border-radius: 0 0.5em 0.5em 0;
  font-weight: bold;
  width: 40px;
  height: 42px;
}

.flex {
  display: flex;
}

.flex section {
  flex-grow: 1;
}

h2 {
  font-family: "Amazon Ember", Arial, sans-serif;
}

a,
a:visited {
  color: #007185;
  text-decoration: none;
}

aside ul li a {
  transition: all 0.3s linear;
}

aside ul li .active {
  color: red;
  font-size: 18px;
}

aside ul,
ul.grid {
  padding: 0;
}

aside ul li,
ul.grid {
  list-style: none;
  color: rgb(36, 37, 37)
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

ul.grid li article img {
  width: 100%
}